body {
	background-image: url('imagenes/fondo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #566b78;
}

h1 {
	text-align: center;
	text-shadow: 5px 5px 1px rgb(31, 30, 30);
	line-height: 1.5;
	padding: 1px 1px;
}

.container {
	background-color: rgba(43, 41, 41, 0.466);
	color: rgb(197, 195, 195);
	width: 50%;
	margin: 0% auto;
	padding: 1%;
	border-top-left-radius: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 30px;

	display: flex;
	justify-content: center;

	box-shadow: 15px 10px 8px rgb(12, 12, 12);
}

.boxText {
	background-color: white;
	text-shadow: 3px 1px 10px rgb(61, 59, 59);
	margin: 0% auto;
	color: #333;
	width: 75%;
	padding-top: 10px;
	padding-bottom: 8px;
	vertical-align: text-bottom;
	border-radius: 15px;
	font-size: 150%;
	font-weight: 600;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
}

.buttons {
	margin-left: 12%;
}

.start_Clock {
	border-radius: 28px;
	text-shadow: 1px 1px 10px black;
}
.start_Clock:hover {
	background-color: rgb(197, 195, 195);
	color: white;
}

.stop_Clock {
	border-radius: 28px;
	text-shadow: 1px 1px 10px black;
}

.stop_Clock:hover {
	background-color: rgb(197, 195, 195);
	color: white;
}

/*
address {
	padding: 10px;
	padding-top: 3px;
	border-top: black solid 5px;
}*/
